#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: gray;
}
.controls {
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding: 10px;
    margin-left: -150px;
    height: 40px;
    width: 300px;
}
.loader {
    position: absolute;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 50%;
    margin-top: 10px;
    left: -15px;
    display: none;
}
#btnGet {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background: teal;
    color: white;
    border: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    outline: none;
    -webkit-box-shadow: 0px 9px 20px -5px rgba(181, 181, 181, 1);
    -moz-box-shadow: 0px 9px 20px -5px rgba(181, 181, 181, 1);
    box-shadow: 0px 9px 20px -5px rgba(181, 181, 181, 1);
}


/*------------------------ CSS loader -----------------------*/

.loader {
    font-size: 3px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
